* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.form {
   margin: 0.5rem 0 1rem 0;
}

.card {
   padding: 0.5rem;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 8px 2px;
   margin-left: 0.5rem;
   width: fit-content;
}

.card .title {
   font-size: 1.4rem;
   margin-bottom: 0.8rem;
}

.card table {
   border-collapse: collapse;
   width: 100%;
}

.card table thead {
   border-bottom: 1px solid black;
}
